<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dutymanagement.tel.mapper.TelMessageMapper">
    <resultMap id="TelInfoEntityResult" type="TelInfoEntity">
        <id property="id"     column="id"/>
        <result property="tel_record_id"    column="telRecordId"/>
        <result property="the_electricity_unit"    column="theElectricityUnit"/>
        <result property="tel"    column="tel"/>
        <result property="user_name"    column="userName"/>
        <result property="tel_time"    column="telTime"/>
        <result property="answer_people"    column="answerPeople"/>
        <result property="phone"    column="phone"/>
        <result property="title"    column="title"/>
        <result property="content"    column="content"/>
        <result property="suggestion"    column="suggestion"/>
        <result property="create_time"    column="createTime"/>
        <result property="create_by"    column="createBy"/>
        <result property="update_by"    column="updateBy"/>
        <result property="update_time"    column="updateTime"/>
        <result property="remark"    column="remark"/>
    </resultMap>
<select id="getTelList" parameterType="TelInfoParam" resultType="TelInfoVO">
    SELECT
        id as id,
        tel_record_id AS telRecordId,
        the_electricity_unit AS theElectricityUnit,
        tel AS tel,
        user_name AS userName,
        tel_time AS telTime,
        answer_people AS answerPeople,
        phone AS phone,
        title AS title,
        content AS content,
        suggestion AS suggestion,
        create_time AS createTime
    FROM
    tel_info
    WHERE
    1 =1
    <if test="theElectricityUnit!=null and theElectricityUnit!=''">
        AND the_electricity_unit like concat ('%',#{theElectricityUnit},'%')
    </if>
    <if test="tel!=null and tel!=''">
        AND tel like concat ('%',#{tel},'%')
    </if>
    <if test="userName!=null and userName!=''">
        AND user_name like concat ('%',#{userName},'%')
    </if>
    <if test="answerPeople!=null and answerPeople!=''">
        AND answer_people like concat ('%',#{answerPeople},'%')
    </if>
    <if test="startDate != null and endDate != null"><!-- 开始时间检索 -->
        and tel_time BETWEEN #{startDate} AND #{endDate}
    </if>
    order by id,tel_time desc
</select>
    <select id="getTelInfoById" parameterType="Integer" resultType="TelInfoVO">
        SELECT
            tel_record_id AS telRecordId,
            the_electricity_unit AS theElectricityUnit,
            tel AS tel,
            user_name AS userName,
            tel_time AS telTime,
            answer_people AS answerPeople,
            phone AS phone,
            title AS title,
            content AS content,
            suggestion AS suggestion,
            create_time AS createTime
        FROM
            tel_info
        WHERE
            1 =1
        AND id = #{id}
    </select>
    <select id="getTelByTelRecordId" parameterType="Integer" resultType="TelInfoVO">
        SELECT
            tel_record_id AS telRecordId,
            the_electricity_unit AS theElectricityUnit,
            tel AS tel,
            user_name AS userName,
            tel_time AS telTime,
            answer_people AS answerPeople,
            phone AS phone,
            title AS title,
            content AS content,
            suggestion AS suggestion,
            create_time AS createTime
        FROM
            tel_info
        WHERE
            1 =1
          AND tel_record_id = #{telRecordId}
    </select>
    <insert id="addTelInfo" useGeneratedKeys="true" keyProperty="id" parameterType="TelInfoEntity">
        insert into tel_info (
            tel_record_id,
            the_electricity_unit,
            tel,
            user_name,
            tel_time,
            answer_people,
            phone,
            title,
            content,
            suggestion,
            create_time,
            status
        ) VALUES (
            #{telRecordId},
            #{theElectricityUnit},
            #{tel},
            #{userName},
            #{telTime},
            #{answerPeople},
            #{phone},
            #{title},
            #{content},
            #{suggestion},
            #{createTime},
            #{status}
                )
    </insert>
    <select id="getTelInfoMaxId"  resultType="TelInfoVO">
        SELECT
            MAX(id),
            tel_record_id AS telRecordId,
            the_electricity_unit AS theElectricityUnit,
            tel AS tel,
            user_name AS userName,
            tel_time AS telTime,
            answer_people AS answerPeople,
            phone AS phone,
            title AS title,
            content AS content,
            suggestion AS suggestion,
            create_time AS createTime
        FROM
            tel_info
    </select>
    <select id="getRobotData" parameterType="String" resultType="TelInfoVO">
        SELECT
            id as id,
            tel_record_id AS telRecordId,
            the_electricity_unit AS theElectricityUnit,
            tel AS tel,
            user_name AS userName,
            tel_time AS telTime,
            answer_people AS answerPeople,
            phone AS phone,
            title AS title,
            content AS content,
            suggestion AS suggestion,
            create_time AS createTime
        FROM
            tel_info
        where 1=1
        AND status = #{status}
        order by id desc
    </select>
    <update id="updateTelStatus" parameterType="Integer">
        update tel_info set status="1" where id =#{id}
    </update>
    <select id="getTelCount" parameterType="TelInfoParam" resultType="Integer">
        select
            count(0)
        from tel_info
        where 1=1
          and tel_time BETWEEN #{startDate} AND #{endDate}
    </select>
</mapper>